MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123

HIVE_DB_NAME=metastore
HIVE_DB_USER=hive
HIVE_DB_PASSWORD=hive_pass

AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow_pass
AIRFLOW_SECRET_KEY=tiki_lakehouse_secret_key_2026
AIRFLOW_ADMIN_PASSWORD=password123
