__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
*/.ipynb_checkpoints/

venv/
env/
.venv/

*.csv
*.parquet
*.snappy.parquet

*.crc
._SUCCESS.crc
_SUCCESS
.part-*
part-*

workspace/data/*
!workspace/data/tiki_category.json
!workspace/data/lam_dep_suc_khoe_category.json

spark-warehouse/
metastore_db/
derby.log
warehouse/

minio_data/
postgres_data/

.DS_Store
Thumbs.db
.vscode/
.idea/